$primary-color: #3498db;
$secondary-color: #e74c3c;
$font-family: "Poppins", sans-serif;
$background-color: #212428;
$font-color-nav: #c4cfde;
$shadow-card: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
$font-red-primary: #ff014f;
